<div class="card" *transloco="let t">
  <div class="header">
    <h1 class="title" *ngIf="!userName">{{ t('HOME.welcome') }}</h1>
    <h1 class="title" *ngIf="userName">{{ t('HOME.welcome-user', { user: userName }) }}</h1>
  </div>
  <div class="content">
    <div *ngIf="needsLogin$ && needsLogin$ | async" class="alert alert-warning">
      You have been redirected to this page because you don't have the necessary
      rights for the reqeusted action. Login with a respective user account!
    </div>

    <button *ngIf="!userName" (click)="login()" class="btn btn-default">{{ t('HOME.login') }}</button>
    <button *ngIf="userName" (click)="logout()" class="btn btn-default">{{ t('HOME.logout') }}</button>
  </div>
</div>

<div>&nbsp;</div>

<div>
  <!-- <custom-checkbox [value]="expertMode" (changed)="changed($event)" label="Expert Mode"></custom-checkbox>  
  {{expertMode}} -->
</div>
